body {
    background-color: #f8f9fa;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
}

h2 {
    text-align: center;
    font-size: 18px;
    font-weight: bold;

}

.navbar {
    background-color: #b5cee9;
}

.navbar-brand {
    color: white;
    font-size: 1.5rem;
}

.nav-link {
    color: white;
    font-size: 1.2rem;
}

.container {
    max-width: 800px;
    margin: auto;
}

.btn-primary {
    background-color: #007bff;
    color: white;
    font-weight: bold;
    border: none;
}

.btn-primary:hover {
    background-color: #0056b3;
}

.quote-card {
    border: 2px solid #007bff;
    border-radius: 10px;
    padding: 20px;
    background-color: #ffffff;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

.quote-card p {
    font-size: 18px;
    line-height: 1.5;
    margin-bottom: 0;
}

.quote-card .author {
    margin-top: 10px;
    font-style: italic;
    color: #555;
}

.books-list {
    list-style-type: none;
    padding: 0;
    margin-top: 20px;
}

.books-list li {
    font-size: 18px;
    margin-bottom: 5px;
    background-color: #f8f9fa;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
}
#hello-output {
    margin-top: 20px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }